
<div class="container">
    <div class="row">
        <div class="col">
           <app-item-create (itemCreate)="itemCreated($event)"></app-item-create>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p [ngStyle]="{ fontWeight: 'bold', fontStyle: 'italic', marginTop: '16px' }">{{items.length}} items</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div *ngIf="items.length == 0; else itemsList">
                <p>No items to show...</p>
            </div>
            <ng-template #itemsList>
                <table class="table table-hover">
                    <tbody>
                        <tr *ngFor="let item of items" app-item-row [item]="item" (itemDelete)="itemDeleted($event)">
                        </tr>
                    </tbody>
                </table>
            </ng-template>
        </div>
    </div>
</div>
